{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "endOfLine": "auto",
  "bracketSameLine": true,
  "printWidth": 120,
  "plugins": ["prettier-plugin-tailwindcss"]
}
