@use "@angular/material" as mat;

@use "theme-colors";
@use "buttons";
@use "form-fields";
@use "color-variants";
@use "typography";

@include mat.elevation-classes();
@include mat.app-background();

:root {
  color-scheme: light;
  --readex-font-family: "Readex Pro", sans-serif;

  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: theme-colors.$primary-palette,
        tertiary: theme-colors.$tertiary-palette,
      ),
      typography: (
        brand-family: var(--readex-font-family),
        plain-family: var(--readex-font-family),
      ),
    )
  );
}

.dark {
  color-scheme: dark;
}

@tailwind base;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--readex-font-family);
}

* {
  box-sizing: border-box;
}
