@use "@angular/material" as mat;

@use "m3-theme" as m3;
@use "colors";
@use "buttons";
@use "icon-buttons";
@use "icons";
@use "form-fields";

@include mat.core();

:root {
  @include mat.all-component-themes(m3.$light-theme);
  @include colors.theme-colors(m3.$light-theme);
  @include buttons.color-variants(m3.$light-theme);
  @include icon-buttons.color-variants(m3.$light-theme);
  @include icons.color-variants(m3.$light-theme);

  @include buttons.sizes(m3.$light-theme);
  @include form-fields.sizes(m3.$light-theme);
}

.dark {
  @include mat.all-component-colors(m3.$dark-theme);
}

@include mat.typography-hierarchy(m3.$light-theme);

@tailwind base;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
