@use "@angular/material" as mat;

@use "m3-theme" as m3;
@use "colors";
@use "buttons";
@use "icon-buttons";
@use "icons";
@use "form-fields";
@use "fab";
@use "chips";

@include mat.elevation-classes();
@include mat.app-background();

@mixin apply-theme-styles($theme) {
  @include colors.theme-colors($theme);
  @include buttons.color-variants($theme);
  @include icon-buttons.color-variants($theme);
  @include icons.color-variants($theme);
  @include fab.color-variants($theme);
  @include chips.color-variants($theme);
}

:root {
  --readex-font-family: "Readex Pro", sans-serif;

  @include mat.all-component-themes(m3.$light-theme);
  @include apply-theme-styles(m3.$light-theme);

  @include buttons.sizes(m3.$light-theme);
  @include form-fields.sizes(m3.$light-theme);
}

.dark {
  @include mat.all-component-colors(m3.$dark-theme);
  @include apply-theme-styles(m3.$dark-theme);
}

@include mat.typography-hierarchy(m3.$light-theme);

@tailwind base;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--readex-font-family);
}

* {
  box-sizing: border-box;
}
