@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@theme {
  --color-primary: var(--mat-sys-primary);
  --color-on-primary: var(--mat-sys-on-primary);
  --color-primary-container: var(--mat-sys-primary-container);
  --color-on-primary-container: var(--mat-sys-on-primary-container);
  --color-primary-fixed: var(--mat-sys-primary-fixed);
  --color-primary-fixed-dim: var(--mat-sys-primary-fixed-dim);
  --color-on-primary-fixed: var(--mat-sys-on-primary-fixed);
  --color-on-primary-fixed-variant: var(--mat-sys-on-primary-fixed-variant);
  --color-secondary: var(--mat-sys-secondary);
  --color-on-secondary: var(--mat-sys-on-secondary);
  --color-secondary-container: var(--mat-sys-secondary-container);
  --color-on-secondary-container: var(--mat-sys-on-secondary-container);
  --color-secondary-fixed: var(--mat-sys-secondary-fixed);
  --color-secondary-fixed-dim: var(--mat-sys-secondary-fixed-dim);
  --color-on-secondary-fixed: var(--mat-sys-on-secondary-fixed);
  --color-on-secondary-fixed-variant: var(--mat-sys-on-secondary-fixed-variant);
  --color-tertiary: var(--mat-sys-tertiary);
  --color-on-tertiary: var(--mat-sys-on-tertiary);
  --color-tertiary-container: var(--mat-sys-tertiary-container);
  --color-on-tertiary-container: var(--mat-sys-on-tertiary-container);
  --color-tertiary-fixed: var(--mat-sys-tertiary-fixed);
  --color-tertiary-fixed-dim: var(--mat-sys-tertiary-fixed-dim);
  --color-on-tertiary-fixed: var(--mat-sys-on-tertiary-fixed);
  --color-on-tertiary-fixed-variant: var(--mat-sys-on-tertiary-fixed-variant);
  --color-error: var(--mat-sys-error);
  --color-on-error: var(--mat-sys-on-error);
  --color-error-container: var(--mat-sys-error-container);
  --color-on-error-container: var(--mat-sys-on-error-container);
  --color-surface: var(--mat-sys-surface);
  --color-surface-dim: var(--mat-sys-surface-dim);
  --color-surface-bright: var(--mat-sys-surface-bright);
  --color-surface-container-lowest: var(--mat-sys-surface-container-lowest);
  --color-surface-container-low: var(--mat-sys-surface-container-low);
  --color-surface-container: var(--mat-sys-surface-container);
  --color-surface-container-high: var(--mat-sys-surface-container-high);
  --color-surface-container-highest: var(--mat-sys-surface-container-highest);
  --color-on-surface: var(--mat-sys-on-surface);
  --color-on-surface-variant: var(--mat-sys-on-surface-variant);
  --color-outline: var(--mat-sys-outline);
  --color-outline-variant: var(--mat-sys-outline-variant);
  --color-inverse-surface: var(--mat-sys-inverse-surface);
  --color-inverse-on-surface: var(--mat-sys-inverse-on-surface);
  --color-inverse-primary: var(--mat-sys-inverse-primary);
  --color-scrim: var(--mat-sys-scrim);
  --color-shadow: var(--mat-sys-shadow);
}

@custom-variant dark (&:where(.dark, .dark *));
