@use "@angular/material" as mat;

@mixin color-variants() {
  .mdc-button {
    &.mat-tonal {
      background-color: var(--mat-sys-secondary-container);
      color: var(--mat-sys-on-secondary-container);

      &:hover {
        box-shadow: var(--mat-sys-level1);
      }
    }
  }
}

@mixin sizes() {
  .mdc-button {
    &.mat-xs {
      @include mat.button-density(-3);
    }

    &.mat-sm {
      @include mat.button-density(-2);
    }

    &.mat-md {
      @include mat.button-density(-1);
    }
  }
}

:root {
  @include color-variants();
  @include sizes();
}
