@use "@angular/material" as mat;

button.mdc-button,
a.mdc-button {
  &.mat-xs {
    @include mat.button-density(-3);
  }

  &.mat-sm {
    @include mat.button-density(-2);
  }

  &.mat-md {
    @include mat.button-density(-1);
  }
}
