@use "@angular/material" as mat;
@use "theme-colors";

// mixin for common icon and button styles
@mixin component-overrides {
  &.mat-icon {
    @include mat.icon-overrides(
      (
        color: var(--mat-sys-primary),
      )
    );
  }

  &.mat-mdc-icon-button {
    @include mat.icon-button-overrides(
      (
        icon-color: var(--mat-sys-primary),
        state-layer-color: var(--mat-sys-primary),
      )
    );
  }
}

.mat-primary {
  @include mat.theme(
    (
      color: theme-colors.$primary-palette,
    )
  );

  @include component-overrides;
}

.mat-secondary {
  @include mat.theme(
    (
      color: theme-colors.$secondary-palette,
    )
  );

  @include component-overrides;
}

.mat-tertiary {
  @include mat.theme(
    (
      color: theme-colors.$tertiary-palette,
    )
  );

  @include component-overrides;
}

.mat-error {
  @include mat.theme(
    (
      color: theme-colors.$error-palette,
    )
  );

  @include component-overrides;
}
